.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.small-chart {
  width: 49%;
  height: 15.625rem;
  align-self: center;
  margin: 0.625rem 0.3125rem 0 0.3125rem;
}

.big-chart {
  width: 49%;
  height: 31.25rem;
  margin: 0.3125rem 0.3125rem 0 0.3125rem;
}

iframe {
  border-radius: 10px;
  border: 0;
}
